.title {
    margin-top: 3%;
    margin-left: 45%;
}

.calculatorForm {
    margin-top: 1%;
    margin-left: 40%;
}

.container {
    display: flex;
    align-items: start;
}

.left {
    width: 100px;
    display: flex;
    align-items: start;
    margin: 5px;
}

.input {
    width: 90px;
    display: flex;
    align-items: start;
    margin: 5px;
}

.inputText {
    width: 80px;
}

.selection {
    width: 180px;
    display: flex;
    align-items: start;
    margin: 5px;
}

.right {
    width: 20px;
    display: flex;
    align-items: start;
    margin: 5px;
}

.button {
    display: flex;
    align-items: start;
    margin: 5px;
}

.details {
    display: grid;
    justify-content: center;
    margin: 5px;
}

.detailTitle {
    margin-left: 35%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.detailTable {
    width: 100%;
    border-collapse: collapse;
    margin-left: 5%;
}

.detailTable th {
    border: 2px solid #555555;
    background-color: #333333;
    color: #ffffff;
    padding: 8px;
}

.detailTable td {
    border: 2px solid #555555;
    background-color: #f0f0f0;
    padding: 8px;
}

.detailTable tr:hover {
    background-color: #d0d0d0;
}
.detailTable tr:nth-child(even) {
    background-color: #e0e0e0;
}
