/* 全局基础字体大小 */
html {
    font-size: 16px;
}

/* 移动端全局字体放大 */
@media (max-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 20px;
    }
}

.root {
    min-height: calc(100vh - 25px);
}
